/* ==========================================================================
   Temporary Component Workspace Styles
   ========================================================================== */
#page-temp {
    padding: var(--space-12) 0;
    min-height: 60vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#page-temp .temp-debug-card {
    border: 2px dashed var(--primary);
    background-color: var(--primary-light);
    padding: var(--space-8);
    border-radius: var(--radius-2xl);
}